@import "tailwindcss";

@font-face {
  font-family: "approach";
  src: url("./assets/fonts/Fontspring-DEMO-coresansc45.otf") format("opentype"); /* Fixed format */
  /* font-weight: bolder; */
  /* font-style: normal; */
}

@font-face {
  font-family: "poppins";
  src: url("./assets/fonts/Poppins-Regular.woff2") format("woff2"); /* Fixed format */
  /* font-weight: normal; */
  /* font-style: normal; */
}

:root {
  font-family: "poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #fff;
  /* You can use 242424, 10100e, or 121212 for dark themes */

  /* background-color: black; */

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary: #121212;
  --color-variable: #9cdcfe;
  --color-class: #ffcb6b;
  --color-function: #dcdcaa;
  --color-comment: #6a9955;
  --font-approach: "approach";
  --font-poppins: "poppins";
}

@layer base {
  button {
    @apply hover:scale-105 transition-transform;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-approach;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer;
  }

  input {
    @apply focus:outline-hidden;
  }
}

.shine {
  background-image: linear-gradient(220deg, #fffcff 10%, #ffffff 51%);
  bottom: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: auto;
}
